#alles verbieten
*.*

#nun einzelne Dateien erlauben
!.gitignore
!pom.xml
!*.md
!*.png
!*.java
!*.js
!web.xml
!*.html
!source.kml

#zur Sicherheit den target-Ordner komplett ignorieren
target/**
target/